#investment {
  display: table;
  width: 100%;
}

#left {
  width: 70%;
  display: table-cell;
  vertical-align: middle;
}

.slide {
  display: table;
}

#right {
  position: relative;
  width: 30%;
  display: table-cell;
  vertical-align: middle;
}

#right img {
  max-width: 100%;
}

.imageBlock {
  position: relative;
  display: table-cell;
}

.imageBlock p {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0;
}

.imageBlock:hover p {
  opacity: 1;
}

#right #top-layer {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table-cell;
  vertical-align: middle;
}

#right:hover #top-layer {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table-cell;
  vertical-align: middle;
}