body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex;
  flex-direction: column;

}

header {
  position: relative;
  width: 100%;
  background-color:gray;
  text-align: center; /* Center items vertically */
  overflow: hidden; /* Clear the floats inside the header */
}

h1, h2, h3{
  margin-left: 5px; /* Adjust the margin as needed */
  margin-top: 1px;
  margin-bottom: 1px;
}


img {
  max-width: 100px;
  height: auto;
  width: auto;
  border-radius: 50%;
  margin-right: auto; /* Add some space between the image and the table */
}

.headerLinks{
  color: white;
}

table {
  margin: auto;
  width: auto;
  background-color: gray;
  color: white;
  border-collapse: collapse; /* Improve table borders */
  margin-top: 10px;
  margin-bottom: 20px;
}

th, td {
  padding: 1px;
  vertical-align: top;
  background-color: gray;
}

td.centerSideTable{
  text-align: center;
}
td.leftSideTable{

  text-align: right;
  width: 45%;
  margin: 4px;
}

td.rightSideTable{
  text-align: left;
  width: auto;
  margin: 4px;
}

td.lastTableSpaceDown{
  margin-bottom: 10px;
}

th {
  background-color:gray;
}

div {
  font-size: 18px; /* Adjust the font size as needed */
  margin-top: 10px; /* Adjust spacing between div elements */
  display: inline-block; /* Display div elements inline */
}

div + p {
  display: none;
}

.toggle-label {
  cursor: pointer;
  display: inline-block;
  top: 10px;
}

.toggle-label input {
  display: none;
}

.toggle-label:before {
  content: '\002B';
  font-size: 20px;
  margin-left: 15px;
  display: inline-block; /* Ensure + sign is inline with the text */
}

div + div {
  margin-top: 10px;
}

.toggle-label input:checked + .doubleSpace:before {
  content: '';
  font-size: 20px;
}


.toggle-label input:checked + div + p {
  display: block;
}

.Space{
  margin-left: 30px;
}

.doubleSpace{
  margin-left: 10px;
  font-size: 18px; /* Adjust the font size as needed */
  margin-top: 10px; /* Adjust spacing between div elements */
  display: inline-block; /* Display as inline-block to keep + on the same line */
  font-weight: bold;
}

.trippleSpace{
  margin-left: 40px;
}

p.paragraphSpace{
  margin-left: 42px;
}

.headline{
  font-size: 20px;
  margin-left: 10px;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  table {
    width: 90%; /* Adjust the width for smaller screens */
  }
}